<div class="cards">
    <div class="card">
        <img src="../img/baguette.jpg" alt="bild">
        <h1>buitnalvnan fduoafhawibfasb</h1>
        <p>dsadsadasd</p>
        <div class="card-right">
            <button> Yes yup</button>
        </div>
    </div>
</div>